# Root GitIgnore for ZariYo Project
node_modules/
.env
.env.local
.env.*.local
*.env
*.log

# FrontEnd Build
ZariYo-FrontEnd/dist/
ZariYo-FrontEnd/node_modules/
ZariYo-FrontEnd/.env

# BackEnd Build & IDE
ZariYo-BackEnd/build/
ZariYo-BackEnd/bin/
ZariYo-BackEnd/.gradle/
ZariYo-BackEnd/application-secret.yml
ZariYo-BackEnd/.classpath
ZariYo-BackEnd/.project
ZariYo-BackEnd/.settings/
ZariYo-BackEnd/.factorypath

# IDE & System
.idea/
.vscode/
.DS_Store
